body{background-color: rgb(66, 211, 201);}
li{
    list-style: square;
    margin: 10px;

}
a{
    font-weight: bolder;
}
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	/*設置する親要素ページ全体ならbodyなど*/
	position: relative;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.contents {
	/*サンプルはfixedの確認のためにheight指定しています。*/
	height: 2000px;
}
.cp_snslink01 {
	position: fixed;
	top: 50%;
	left: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.cp_snslink01 .cp_link {
	position: relative;
}
.cp_snslink01 .cp_link {
	display: block;
	width: 60px;
	height: 60px;
	padding: 15px 10px;
	cursor: pointer;
}
.cp_snslink01 .cp_link .nav-label {
	line-height: 64px;
	position: absolute;
	z-index: 4;
	top: 0rem;
	display: block;
	height: 60px;
	margin-left: 50px;
	padding: 0 20px;
	white-space: nowrap;
}
.cp_snslink01 .cp_link,
.cp_snslink01 .cp_link a,
.cp_snslink01 .cp_link:hover,
.cp_snslink01 .cp_link .nav-label {
	color: #ffffff;
}
/*facebook*/
.cp_snslink01 .facebook,
.cp_snslink01 .facebook:hover,
.cp_snslink01 .facebook:hover .nav-label {
	background: #3b5998;
}
.cp_snslink01 .facebook .nav-label {
	background: #1e2e4f;
}
/*twitter*/
.cp_snslink01 .twitter,
.cp_snslink01 .twitter:hover,
.cp_snslink01 .twitter:hover .nav-label {
	background: #55acee;
}
.cp_snslink01 .twitter .nav-label {
	background: #0065d9;
}
/*google+*/
.cp_snslink01 .google,
.cp_snslink01 .google:hover,
.cp_snslink01 .google:hover .nav-label {
	background: #dd4b39;
}
.cp_snslink01 .google .nav-label {
	background: #af0606;
}
/*instagram*/
.cp_snslink01 .instagram,
.cp_snslink01 .instagram:hover,
.cp_snslink01 .instagram:hover .nav-label {
	background: radial-gradient(circle at 0% 90%, #fdf498 0%, #fd5948 5%, #d6249d 45%,#285aea 60%,#285aea 90%);
}
/* effect */
.cp_snslink01 .cp_link.nav-label, .cp_snslink01 .cp_link.cp_link:hover .nav-label {
	-webkit-transition: -webkit-transform 0.4s ease, background 0.4s ease;
	        transition:         transform 0.4s ease, background 0.4s ease 0.1s;
	-webkit-transition-delay: 0s, 0.1s;
}
.cp_snslink01 .cp_link.cp_link .nav-label {
	-webkit-transition: -webkit-transform 0.4s ease;
	        transition:         transform 0.4s ease;
	-webkit-transform: rotateY(-90deg);
	        transform: rotateY(-90deg);
	-webkit-transform-origin: left 50%;
	        transform-origin: left 50%;
}
.cp_snslink01 .cp_link.cp_link:hover .nav-label {
	-webkit-transform: rotateY(0);
	        transform: rotateY(0);

.cp_bgpattern13 {
	background:
	 linear-gradient(90deg, #ffffff 0.2em, transparent 0),
	 linear-gradient(90deg, #bbdefb 50%, transparent 0),
	 linear-gradient(90deg, #ef9a9a 50%, #7986cb 0);
	background-size: 20px,40px,80px;
}



